h1{
    text-align: center;
}
.contenedorRegistro{
    margin: auto;
    width: 30%;
    padding: 10px;
}

.tamaño-campos{
    width: 100%;
}
p{
    font-size: 15px;
}
.centrado_algo{
    text-align: center;
    margin: auto;
    width: 25%;
}
span{
    color:red;
}
.olvidoContraseña{
    color: blue;
    text-decoration: none;
    font-size: 14px;  
}
.letra{
    font-family: sans-serif;
}

.contenedorRegistroGauchada{
    margin: auto;
    width: 37%;
    padding: 10px;
    
}