.pag_inicio{
    width: 50%;
    border: 2px solid black;
    display: block;
    text-align: center;
}
.gauchadas_div{
    margin: auto;
    width: 70%;
    border: 1px solid black;
    text-align: center;
}